*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(255, 166, 0, 0.179);
}

/* image setting */
.container {
  max-width: 600px;
  height: 300px;
  margin: 50px auto;
  position: relative;
}

img {
  width: 100%;
  object-fit: cover;
  height: 300px;
}

/* button setting */
.arrow-left {
  position: absolute;
  left: 50px;
  bottom: 150px;
}

.arrow-right {
  position: absolute;
  left: 520px;
  bottom: 150px;
}

button {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}

button:hover{
  text-shadow: 0 0 4px white;
  opacity: 0.8;
  color: white;
  transition: 0.5s ease;
}

/* disabled other image */
.slider img {
  display: none;
  max-width: 100%;
}

.slider figcaption {
  display: none;
  max-width: 100%;
}

/* active image */
img.active {
  display: block;
  animation: fade 0.8s;
}

figcaption.active {
  display: block;
  animation: fade 0.5s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
